<section id="main-content" role="main">

	<header>
		<h1 id="page-title">About Virtual Worlds World Manager</h1>
            
	</header>
                
	<div id="content">  
		<div class="region region-content">
			<div id="block-system-main" class="block block-system">
				<div class="block-inner clearfix">
					<div class="block-content content">
						<article id="article-13" class="article article-type-page clearfix" about="/about-virtualworlds" typeof="foaf:Document" role="article">
							<div class="article-content">
								<div class="field field-name-body field-type-text-with-summary field-label-hidden">
									<div class="field-items">
										<div class="field-item even" property="content:encoded">
											<div>
												Rutgers Virtual Worlds formed in 2006 to support the Rutgers University Community. The purpose was to help visualize the future version of the campus, as well as 
												provide a virtual campus to represent the University around the world. The department grew from just wanting to show people the campus, to being able to use the worlds for classes, 
												conferences, team activities, and cooperative learning.
											</div>
											<div>&nbsp;</div>
											<div>
												Virtual worlds have been developed and used through many platforms, but there hasn't been a very simple way to develop a virtual world for personal use.  This is where our 
												World Manager comes in.  
											</div>
											<div>&nbsp;</div>
											<div>
												If you click on the red button that says "Create World" you will find yourself on a page that lets you make your own virtual world.  By using this feature you can use our 
												templates to quickly and easily make your own world for your own personal use.  You can also choose to start from scratch and create your entire own virtual world.  
											</div>
											<div>&nbsp;</div>
											<div>
												Our goal is to have a place where people can come and make a virtual world quickly and easily without having to understand all the technology behind it and how it works. 
												If you have any feedback we'd love to hear from you, just click on the support link above, then the further support button. A you will be sent to our ticket site where you can write to us.  
											</div>
										</div>
									</div>
								</div>
							</div>
						</article>
					</div>
				</div>
			</div>
		</div>
	</div>   
</section>
