<section id="main-content" role="main">

	<header>
		<h1 id="page-title">About Virtual Worlds and Immersive Learning Project</h1>
            
	</header>
                
	<div id="content">  
		<div class="region region-content">
			<div id="block-system-main" class="block block-system">
				<div class="block-inner clearfix">
					<div class="block-content content">
						<article id="article-13" class="article article-type-page clearfix" about="/about-virtualworlds" typeof="foaf:Document" role="article">
							<div class="article-content">
								<div class="field field-name-body field-type-text-with-summary field-label-hidden">
									<div class="field-items">
										<div class="field-item even" property="content:encoded">
											<div>We formed in 2006 to support the Rutgers University Community. &nbsp;The purpose was to help visualize the future version of the campus, as well as provide a virtual campus to represent the University around the world. The virtual world has the capability to host events synchronously for all participants, as well as host activities which can be asynchronous. The world also lends itself to virtual conferences, team activities, and cooperative learning.</div>
											<div>&nbsp;</div>
											<div>Virtual worlds have been developed and used through many platforms, but the graphics, physics, etc. has not been up to par to today's game engines. &nbsp;The current technology is at a place where game technology such as Unity3D is able to be utilized for more purposes than just games. &nbsp;Now there is a game engine we can use to fuel our Rutgers Virtual World. &nbsp; &nbsp; &nbsp;&nbsp;</div>
											<div>&nbsp;</div>
											<div>This cutting edge technology is now available to faculty for immersive learning through Center for Online and Hybrid Learning and Instructional Technologies (COHLIT), and the services of my virtual world group extend not only to online environments, but also to mobile environments.&nbsp;</div>
											<div>&nbsp;</div>
											<div>Our goal is to integrate this technology into Rutgers learning management systems. We plan to create a fully synchronous online experience where people can work in virtual environments. Not to mention that alternate/augmented reality techniques are being used to provide increased incentives for students to fully engage in their learning experience, be it fully online, hybrid, or in the classroom.</div>
											<div>&nbsp;</div>
											<div>In addition, local studio services will be available for the creation of media such as video, audio clips, 3D data visualizations, and/or simulations that can be incorporated into online and hybrid courses. This includes new immersive instructional technologies, such as virtual office hours, machinima, online role play scenarios, virtual worlds and augmented reality. Which can be incorporated into socially connected mobile technology.</div>
											<div>&nbsp;</div>
											<div>Each of the different environment has the capability of gathering data, for research, and analysis.</div>
										</div>
									</div>
								</div>
							</div>
						</article>
					</div>
				</div>
			</div>
		</div>
	</div>   
</section>