<body>
	<form>
		<fieldset>
			<legend>Contact</legend>
			<label>Name</label>
			<input type="text" placeholder="Name">
			<label>What are you sending us?</label>
			<select>
				<option>Ask Question</option>
				<option>Report Bug</option>
				<option>Request Feature</option>
			</select>
			<br>
			<textarea rows="4"></textarea>
			
			{{#if question}}
				<span class="help-block">Tell us about your question.</span>
			{{/if}}
			{{#if bug}}
				<span class="help-block">Give as much detail as possible please. Browser, operating system, etc. Thanks!</span>
			{{/if}}
			{{#if feature}}
				<span class="help-block">Tell us about the feature you'd like us to add.</span>
			{{/if}}
			
			<button type="submit" class="btn">Submit</button>
		</fieldset>
	</form>
</body>
                
	