<body>
	<form>
		<fieldset>
			<legend>Contact</legend>
			<label>Name</label>
			<input type="text" placeholder="Name">
			<label>What are you sending us?</label>
			<select onClick = "selected_option()">
				<option id = "1">Ask Question</option>
				<option id = "2">Report Bug</option>
				<option id = "3">Request Feature</option>
			</select>
			<br>
			<textarea rows="4"></textarea>
			<div id="help">
				<span class="help-block" id="Ask_Question">Tell us about your question.</span>
				<span class="help-block" id="Report_Bug">Give as much detail as possible please. Browser, operating system, etc. Thanks!</span>
				<span class="help-block" id="Request_Feature">Tell us about the feature you'd like us to add.</span>
			</div>
			<br>
			
			<script type = "text/javascript">
				$("#Report_Bug").hide();
				$("#Request_Feature").hide();
				$("#Ask_Question").show();
				function selected_option(e)
				{
					e = e || window.event;
					e = e.target || e.srcElement;
					console.log(e[e.selectedIndex]);
					if(e[e.selectedIndex].id==1)
					{
						$("#Report_Bug").hide();
						$("#Request_Feature").hide();
						$("#Ask_Question").show();
					}
					else if(e[e.selectedIndex].id==2)
					{
						$("#Report_Bug").show();
						$("#Request_Feature").hide();
						$("#Ask_Question").hide();
					}
					else if(e[e.selectedIndex].id==3)
					{
						$("#Report_Bug").hide();
						$("#Request_Feature").show();
						$("#Ask_Question").hide();
					}
				}				
			</script>
			
			<button type="submit" class="btn">Submit</button>
		</fieldset>
	</form>
</body>
                
	