<section id="main-content" role="main">

	<header>
		<h1 id="page-title">Contact</h1> 
	</header>
                
	<div id="content">  
		<div class="region region-content">
			<div id="block-system-main" class="block block-system">
				<div class="block-inner clearfix">
					<div class="block-content content">
						<article id="article-13" class="article article-type-page clearfix" contact="/contact-virtualworlds" typeof="foaf:Document" role="article">
							<div class="article-content">
								<div class="field field-name-body field-type-text-with-summary field-label-hidden">
									<div class="field-items">
										<div class="field-item even" property="content:encoded">
											<div>Rick Anderson</div>
											<div>E-mail: rianders@docs.rutgers.edu</div>
											<div>&nbsp;</div>  
										</div>
									</div>
								</div>
							</div>
						</article>
					</div>
				</div>
			</div>
		</div>
	</div>    
</section>