<style type="text/css" media="screen">
    #editor { 
        position: relative;
        height:350px;
	top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
</style>
<div id="editor">
</div>
<script src="../js/ace.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	var editor = ace.edit("editor");
	$.get("{{pathToPartial}}", function(partial) {
		editor.setValue(partial);
	});
	editor.setTheme("ace/theme/monokai");
	editor.getSession().setMode("ace/mode/html");
	var update = function()
	{
		$.ajax({
		url: "{{pathToPartial}}",
		type: 'PUT',
		data: {"data":editor.getValue()},
		success: function(data) {
		}
		});
	}
</script>
<button class="btn" onclick="update()">Save</button>
<a class="btn" href="/builds/{{identifier}}" onclick="update()">Finish</a>
