<style type="text/css" media="screen">
    #editor { 
        position: relative;
        height:350px;
	top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
</style>
<div id="editor">
</div>
    
<script src="js/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/html");
    editor.setValue();
</script>
