<!-- Main hero unit for a primary marketing message or call to action -->
    <style type="text/css">
      #hero-unit {
		background-color: red;
      }
    </style>
	<div class="hero-unit">
		
		<div class = "row-fluid">
			<h1>Virtual Worlds <small>World Manager</small> </h1>
		</div>
		<div class = "row-fluid">
			<div class = "span1">
				<p><a href="/" class="btn btn-danger">Back</a></p>
			</div>
			<div class = "span1">
				<p><a href="/" class="btn btn-danger">About</a></p>
			</div>
			<div class = "span1">
				<p><a href="/" class="btn btn-danger">Contact</a></p>
			</div>
		</div>
	</div>
	<div class="hero-unit">
		<p><a href="/upload" class="btn btn-primary btn-large">Create a World &raquo;</a></p>
		<ul class="thumbnails">
			<li class="span4">
				<a href="#" class="thumbnail">
					<img src="http://placehold.it/300x200" alt="">
				</a>
			</li>
		</ul>
	</div>
	<!-- <div class = "row-fluid"> -->
	{{#each preview}} 
		<!-- <div class="span4"> -->
			<a href={{this.href}}><img src={{this.img}} alt={{this.name}}/></a>
		<!-- </div> -->
	{{/each}}
	<!-- </div> -->
	  