
<ul class="thumbnails">
{{#each preview}} 
	<li class="span3">
		<a href={{this.href}} class="thumbnail"><img src={{this.img}} alt={{this.name}}/></a>
		<div class = "caption pagination-centered">
			<h3>{{this.name}}</h3>
		</div>
	</li>
{{/each}}
</ul>