	     <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>World Manager</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-large">Create a World &raquo;</a></p>
      </div>
	   {{#each preview}} 
        <div class="span4">
          <a href={{this.href}}><img src={{this.src}} alt={{this.name}}/></a>
        </div>
		{{/each}}
      </div>
