<header>
	<h1>fname's Profile</h1>
</header>

<body>
	<a class="btn btn-link btn-large" href="/myworlds">My Worlds</a>
	<a class="btn btn-link btn-large" href="/createprofile">Edit Profile</a>
	<a class="btn btn-link btn-large" href="/myworlds">View Profile</a>
	<br><br>
	First Name:
	<br>
	Last Name:
	<br>
	E-Mail:
	<br>
	Profile Picture:
	<br>
	Website:
	<br><br><br><br>
	<a class="btn btn-link btn-mini" href="/myworlds">Delete Profile</a>
</body>