<header>
	<h1>fname's Profile</h1>
</header>

<body>
	<a class="btn btn-link" href="/myworlds">My Worlds</a>
	<a class="btn btn-link" href="/createprofile">Edit Profile</a>
	<a class="btn btn-link" href="/myworlds">View Profile</a>
	<br><br>
	First Name:
	<br>
	Last Name:
	<br>
	E-Mail:
	<br>
	Profile Picture:
	<br>
	Website:
</body>