<div id='opentok'>
	<div id="myPublisherDiv"></div>
	<script src='https://swww.tokbox.com/v1.1/js/TB.min.js'></script>
	<script type="text/javascript">
	// Initialize API key, session, and token...
	  // Think of a session as a room, and a token as the key to get in to the room
	  // Sessions and tokens are generated on your server and passed down to the client
	  var apiKey = "24960472";
	  var sessionId = "1_MX4yNDk2MDQ3Mn4xMjcuMC4wLjF-VHVlIEFwciAwOSAwNzozMDo1MSBQRFQgMjAxM34wLjAzMzg0NTEyN34";
	  var token = "T1==cGFydG5lcl9pZD0yNDk2MDQ3MiZzZGtfdmVyc2lvbj10YnJ1YnktdGJyYi12MC45MS4yMDExLTAyLTE3JnNpZz1lYjdlMzVmOWUwMDhkOTM5MjY4OThlNTUyNjM0NWYzZjU5YmI4YzNiOnJvbGU9cHVibGlzaGVyJnNlc3Npb25faWQ9JmNyZWF0ZV90aW1lPTEzNjU1MTc4NTEmbm9uY2U9MC44MTE0MDAwMzEwNjU4OTImZXhwaXJlX3RpbWU9MTM2NTYwNDI1MCZjb25uZWN0aW9uX2RhdGE9";
	// Initialize session, set up event listeners, and connect
	var session = TB.initSession(sessionId);
	session.addEventListener('sessionConnected', sessionConnectedHandler);
	session.addEventListener('streamCreated', streamCreatedHandler);
	session.connect(apiKey, token);

	function sessionConnectedHandler(event) {
		var publisher = TB.initPublisher(apiKey, 'myPublisherDiv');
		session.publish(publisher);
		subscribeToStreams(event.streams);
	}
	function streamCreatedHandler(event) {
		// Subscribe to any new streams that are created
		subscribeToStreams(event.streams);
	}

	function subscribeToStreams(streams) {
		for (var i = 0; i < streams.length; i++) {
			// Make sure we don't subscribe to ourself
			if (streams[i].connection.connectionId == session.connection.connectionId) {
			  return;
			}

			// Create the div to put the subscriber element in to
			var div = document.createElement('div');
			div.setAttribute('id', 'stream' + streams[i].streamId);
			document.body.appendChild(div);

			// Subscribe to the stream
			session.subscribe(streams[i], div.id);
		}
	</script>
</div>
<script type="text/javascript">
	$("#opentok").hide();
</script>
