<head>
	<h1>Frequently Asked Questions</h1>
</head>
<body>
	<p>
		<a class="btn btn-danger" href="http://rutgers-virtual-worlds.tenderapp.com/">Further Support <i class="icon-share icon-white"></i></a>
	</p>
	
	<strong>How do I get started?</strong>
	<p>
		The first thing you need to do to use this site is to create an account.<br>
		Many of the features are closed off to someone not logged in, for example:<br>
		My Worlds, My Profile, Create World, and Upload are all user only parts of the site.<br>
	</p>
	<strong>What can I do without creating an account?</strong>
	<p>
		If you look at the Home tab you will be able to check out all the virtual worlds that are public.<br>
		You can also check out the About tab to see what this site can be used for.<br>
		Finally if you'd like to submit any features, bugs, or have any questions click the Issue tab.<br>
	</p>
	<strong>How do I go into a virtual world?</strong>
	<p>
		When you are on the Home tab and decide which virtual world you want to look at<br>
		all you have to do is click on the image and the virtual world will open up.<br>
	</p>
	<strong>How do I use the virtual world?</strong>
	<p>
		The first thing you do is select which avatar you would like to be in the world, do so by clicking<br>
		on the picture of the avatar you want.<br>
		Then click the bottom right button on the screen which will enter the world.<br>
		You can move around with the 'WASD' or arrow buttons, you can jump with the space bar.<br>
	</p>
	<strong>Why is it when I try to look at a virtual world it doesn't work?</strong>
	<p>
		Well you will first need to make sure to let Unity install a plugin.<br>
		If you see something popup that asks for permission, click allow.<br>
		The virtual world should then be able to run. <br>
		If you still cannot run the virtual world click "Further Support" above and start a discussion.<br>
	</p>
	<strong>Where does it send me when I click "Further Support"?</strong>
	<p>
		You are being redirected to our support tracker which uses the tenderapp.<br>
		We use this site to keep track of all bugs, feature requests, and questions.<br>
		You're able to use the support site without an account, but if you want to be<br>
		notified when we've responded you'll have to make an account. <br>
	</p>
	<strong>Can I create my own virtual world?</strong>
	<p>
		Absolutely! Just click the Create World tab and you can get started.<br>
		Click on any of the templates you like and you can start editing the world to your hearts content.<br>
		If you like the world you've made just save it to your computer.  To use it just upload it.<br>
	</p>
	<strong>How do I upload my virtual world</strong>
	<p>
		If you click on the Upload tab you can upload your virtual world.<br> 
		You can give your world a title and an information section. <br>
		Then you upload the .unity3d file to the "Build" section and a picture you'd like to represent<br>
		your world to the "Preview" section.<br>
		If you want your world to be private just click the "Private World" checkmark, otherwise it will <br>
		show up on our home page.<br>
	</p>
</body>