<form action="/" method="post" enctype="multipart/form-data">
	{{#each form}}
		<p>{{this.desc}} : <br> <input type={{this.type}} name={{this.name}} info={{this.info}}></input></p>
	{{/each}}
	<p><input type="Submit" name="Submit" value="Submit"></p>
</form>