  <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rutgers World Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
		padding-top:5px;
      }
    </style>
    <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="/bootstrap/js/bootstrap.js"></script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	  
    <![endif]-->
  </head>

  <body>
  
  <!--this will change the entire pages width to a fixed size-->
	<div class="container">
  
		<!--This is the top bar on the page-->

		<div class="navbar">
		  <div class="navbar-inner">
			<div class="container">
			  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </a>
			  <a class="brand" href="/">Rutgers Home</a>
			  <div class="nav-collapse collapse">
				<ul class="nav">
					<li class = "divider-vertical"></li>
					<li class = "inactive">
						<a href="/">New Brunswick</a>
					</li>
					<li class = "divider-vertical"></li>
					<li class = "inactive">
						<a href="#about">Newark</a>
					</li>
					<li class = "divider-vertical"></li>
					<li class = "inactive">
						<a href="#contact">Camden</a>
					</li>
				 <!-- 
					<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
					<ul class="dropdown-menu">
					  <li><a href="#">Action</a></li>
					  <li><a href="#">Another action</a></li>
					  <li><a href="#">Something else here</a></li>
					  <li class="divider"></li>
					  <li class="nav-header">Nav header</li>
					  <li><a href="#">Separated link</a></li>
					  <li><a href="#">One more separated link</a></li>
					</ul>
					</li> 
				  --!>
				</ul>
				<form class="navbar-form pull-right">
				{{#if isNotAuthenticated}}
					<a href="/auth/google">Sign In with Google</a>
				{{/if}}
				</form>
			  </div><!--/.nav-collapse -->
			</div>
		  </div>
		</div>


		<!--section for the body of the page-->
		<div class = "row-fluid">
			<div class = "span12">
				{{#if world}}
					{{> world}}
				{{else}}
				{{#if form}}
					{{> upload}}
				{{else}}
					{{> home}}
				{{/if}}
				{{/if}}
			</div>
		</div>
		
      <footer>
		<div class = "footer offset2">
				<p>Copyright © 2012, Rutgers, The State University of New Jersey, an equal opportunity, affirmative action institution.</p>
		</div>
	  </footer>

	</div>  <!-- /container -->
  </body>
</html>
